<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93361298385-q4udpd8mbcofp53iq1sme0trma8osqiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93361298385-q4udpd8mbcofp53iq1sme0trma8osqiu</string>
	<key>API_KEY</key>
	<string>AIzaSyCNx7j1jJ0T4Sj2eQSHRot9_PZVS7aKZtA</string>
	<key>GCM_SENDER_ID</key>
	<string>93361298385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.livestream.livestream</string>
	<key>PROJECT_ID</key>
	<string>vueflow-91fe2</string>
	<key>STORAGE_BUCKET</key>
	<string>vueflow-91fe2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93361298385:ios:41ccf24d20fb3baeda5ef0</string>
</dict>
</plist>